---
import Layout from '../layouts/Layout.astro';
---

<Layout tittle="404 - XXX">
   <section
      class="flex h-screen w-screen flex-col items-center justify-center bg-gradient-to-b from-neutral-900 to-black"
   >
      <h1 class="text-8xl text-white">404</h1>
      <p class="text-white">Page not found</p>
   </section>
</Layout>
