---
import Layout from '../layouts/Layout.astro';
import Price from '../components/Price.astro';
---

<Layout title="License page">
     <section class="text-neutral-400 font-light text-center max-w-[900px] m-auto mt-40 mb-20">
           <h1 class="text-center text-8xl text-white mb-10">License</h1>
           <p>We currently offer free beta versions of our product. Please refer to our <a href="/terms" class="text-blue-500 hover:underline">Terms of Service</a> for more information.</p>
     </section>

   <!-- <Price /> -->
</Layout>