---
import Layout from '../layouts/Layout.astro';
import Faq from '../components/Faq.astro';
import Price from '../components/Price.astro';
---

<Layout title="Welcome to challenge">
   <h1 class="text-center text-8xl text-white">PLAYGROUND</h1>
</Layout>
