---
import Layout from '../layouts/Layout.astro'
import Faq from '../components/Faq.astro'
import Price from '../components/Price.astro'
---

<Layout title="Welcome to challenge">
    <h1 class="text-white text-8xl text-center">PLAYGROUND</h1>
</Layout>
