---
import Layout from "../layouts/Layout.astro"
import Menu from "../components/Menu.astro"
import Faq from "../components/Faq.astro"
import Footer from "../components/Footer.astro"
import Pricing from "../components/Pricing.astro"
---

<Layout title="Welcome to challenge">
	<Menu />
    <Pricing />
    <Faq />
    <p class=" text-center text-xl text-neutral-400">Got more questions? Get in touch at <span class="hover:underline cursor-pointer text-white">mail@mail.com</span></p>
	<Footer />
</Layout>