---
import Layout from "../layouts/Layout.astro"
import Faq from "../components/Faq.astro"
import Price from "../components/Price.astro"
---

<Layout title="Welcome to challenge">
    <Price />
    <Faq />
    <p class=" text-center text-xl text-neutral-400">Got more questions? Get in touch at <span class="hover:underline cursor-pointer text-white">mail@mail.com</span></p>
</Layout>