---
import Image from 'astro/components/Image.astro';
import animation from '../assets/animation.avif';
---

<section class="my-20 px-3">
   <div
      class="m-auto flex max-w-[1200px] items-center justify-center border-x border-neutral-800 max-[900px]:flex-col max-[900px]:p-20 max-[700px]:p-10 max-[500px]:p-4"
   >
      <div class="flex-1 pt-10 pb-20 max-[950px]:pb-0">
         <h2
            class="mb-10 px-10 text-4xl text-balance text-white max-[1000px]:px-5 max-[900px]:text-5xl max-[700px]:text-4xl max-[500px]:text-3xl"
         >
            A Better Way to learn <span class="title">algorithms</span>
         </h2>
         <p
            class="font-base px-10 text-lg font-light text-balance text-neutral-400 max-[1000px]:px-5 max-[500px]:text-base"
         >
            Learning <span class="title">algorithms</span> can be challenging and tedious when relying solely on books. A
            better approach involves visualizing <span class="title">algorithms</span> through professional animations and
            actively coding solutions, emphasizing <span class="text-white">practice over passive reading.</span>
         </p>
      </div>
      <div class="w-full flex-2 border-l border-neutral-800 pt-20 pb-20 max-[900px]:border-none">
         <div
            class="a relative m-auto aspect-video w-[90%] overflow-hidden border border-amber-400 bg-black max-[900px]:w-[100%]"
         >
            <Image src={animation} alt="Animation" class="h-full w-full object-cover" />
         </div>
      </div>
   </div>
</section>

<style>
   .a {
      mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
   }
</style>
