---
import glow from '../assets/glow.webp';

---

<section class="my-20 px-3 relative" id="about">
    <div class="m-auto flex max-w-[1200px] flex-col border-x border-neutral-800 pt-20 max-[900px]:pt-10">
        <h2 class="mt-4 mb-10 text-center text-5xl text-balance text-white max-[900px]:mb-5 max-[900px]:text-5xl max-[700px]:text-4xl lg:tracking-tight">
            What is <span class="title">PlatforCode?</span>
        </h2>
        <p class="mb-20 text-center text-2xl font-light text-balance text-neutral-400">Is a code platform that help you improve your coding skills. It provides a vast collection of coding problems and a guided path to solve them efficiently.</p>

        <div class="m-auto flex max-w-[1200px] border-y-0 max-[900px]:flex-col">
            <div class="flex-1 border-neutral-800 pt-10 pb-20 max-[950px]:px-0 max-[950px]:pb-0 max-[900px]:border-b max-[550px]:border-t min-[900px]:border-r">
                <div class="relative m-auto flex aspect-video items-center justify-center max-[900px]:w-[70%] max-[500px]:w-[80%]">
                    <div class="absolute flex h-[60%] w-[48%] translate-x-[-20%] translate-y-[-30%] justify-center rounded-xl border border-neutral-700">
                        <span class="absolute top-[10%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[20%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[30%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[40%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[50%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[60%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[70%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[80%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[90%] h-[1px] w-full bg-neutral-900"></span>
                        <!-- <span class="w-full bg-neutral-950 absolute h-[1px] top-[100%]"></span> -->

                        <span class="absolute left-[10%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[20%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[30%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[40%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[50%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[60%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[70%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[80%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[90%] h-full w-[1px] bg-neutral-900"></span>

                        <span class="absolute top-[10%] left-[60%] h-[40%] w-[30%] rounded-[100%] border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[18%] left-[66%] h-[24%] w-[18%] rounded-[100%] border border-neutral-800 bg-black"></span>
                        <span class="absolute bottom-0 left-[80%] h-[40%] w-[10%] rounded-lg border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute bottom-0 left-[68%] h-[30%] w-[10%] rounded-lg border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute bottom-0 left-[56%] h-[15%] w-[10%] rounded-md border border-neutral-800 bg-neutral-900"></span>

                        <span class="absolute top-[50%] left-[10%] h-[1px] w-[20%] bg-neutral-700"></span>
                        <span class="absolute top-[70%] left-[10%] h-[1px] w-[20%] bg-neutral-700"></span>
                        <span class="absolute top-[50%] left-[10%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[50%] left-[30%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[30%] left-[10%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[30%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[50%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[70%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[70%] left-[30%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[50%] left-[30%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                    </div>
                    <div class="absolute flex h-[60%] w-[48%] translate-x-[20%] translate-y-[30%] justify-center rounded-xl border border-neutral-700 bg-black">
                        <span class="absolute top-[10%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[20%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[30%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[40%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[50%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[60%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[70%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[80%] h-[1px] w-full bg-neutral-900"></span>
                        <span class="absolute top-[90%] h-[1px] w-full bg-neutral-900"></span>
                        <!-- <span class="w-full bg-neutral-950 absolute h-[1px] top-[100%]"></span> -->

                        <span class="absolute left-[10%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[20%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[30%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[40%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[50%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[60%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[70%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[80%] h-full w-[1px] bg-neutral-900"></span>
                        <span class="absolute left-[90%] h-full w-[1px] bg-neutral-900"></span>

                        <span class="absolute top-[10%] left-[60%] h-[40%] w-[30%] rounded-[100%] border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[18%] left-[66%] h-[24%] w-[18%] rounded-[100%] border border-neutral-800 bg-black"></span>
                        <span class="absolute bottom-0 left-[80%] h-[40%] w-[10%] rounded-md border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute bottom-0 left-[68%] h-[30%] w-[10%] rounded-md border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute bottom-0 left-[56%] h-[15%] w-[10%] rounded-md border border-neutral-800 bg-neutral-900"></span>

                        <span class="absolute top-[50%] left-[10%] h-[1px] w-[20%] bg-neutral-700"></span>
                        <span class="absolute top-[70%] left-[10%] h-[1px] w-[20%] bg-neutral-700"></span>
                        <span class="absolute top-[50%] left-[10%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[50%] left-[30%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[30%] left-[10%] h-[20%] w-[1px] bg-neutral-700"></span>
                        <span class="absolute top-[30%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[50%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[70%] left-[10%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[70%] left-[30%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                        <span class="absolute top-[50%] left-[30%] h-[14%] w-[10%] translate-[-50%] rounded-full border border-neutral-800 bg-neutral-900"></span>
                    </div>
                </div>

                <div class="p-10 max-[950px]:p-15 max-[700px]:p-5">
                    <h1 class="mt-2 text-xl font-medium text-white lg:text-2xl">1. Conceptual Overview</h1>
                    <p class="mt-4 text-base font-light text-slate-600 dark:text-neutral-400">
                        We begin with a conceptual approach to problem-solving, followed by an in-depth exploration of the fundamental principles of <strong class="title">data structure</strong> and
                        <strong class="title">algorithms</strong> techniques.
                    </p>
                </div>
            </div>
            <div class="flex-1 border-neutral-800 pt-10 pb-20 max-[950px]:px-0 max-[950px]:pb-0 max-[900px]:border-b min-[900px]:border-r">
                <div class="a relative m-auto aspect-video border border-amber-400 max-[900px]:w-[70%] max-[500px]:w-[80%]">
                    <span class="absolute top-[20%] block w-full border border-neutral-800"></span>
                    <span class="absolute top-[40%] block w-full border border-neutral-800"></span>
                    <span class="absolute top-[60%] block w-full border border-neutral-800"></span>
                    <span class="absolute top-[80%] block w-full border border-neutral-800"></span>
                    <span class="absolute top-[99%] block w-full border border-neutral-800"></span>

                    <span class="absolute bottom-0 h-[3px] w-[20%] bg-red-900"></span>
                    <span class="absolute top-[80%] left-[30%] h-[3px] w-[20%] bg-red-900"></span>
                    <span class="absolute top-[60%] left-[60%] h-[3px] w-[20%] bg-red-900"></span>
                    <span class="absolute top-[40%] left-[90%] h-[3px] w-[10%] bg-red-900"></span>

                    <span class="absolute top-[90%] left-[15.5%] h-[3px] w-[18%] rotate-[-55deg] bg-red-900"></span>
                    <span class="absolute top-[70%] left-[46%] h-[3px] w-[18%] rotate-[-55deg] bg-red-900"></span>
                    <span class="absolute top-[50%] left-[76%] h-[3px] w-[18%] rotate-[-55deg] bg-red-900"></span>

                    <span class="absolute top-[100%] left-[20%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 bg-red-900"></span>
                    <span class="absolute top-[80%] left-[30%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 border-black bg-red-900"></span>
                    <span class="absolute top-[80%] left-[50%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 border-black bg-red-900"></span>
                    <span class="absolute top-[60%] left-[60%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 border-black bg-red-900"></span>
                    <span class="absolute top-[60%] left-[80%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 border-black bg-red-900"></span>
                    <span class="absolute top-[40%] left-[90%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 border-black bg-red-900"></span>

                    <span class="absolute top-[60%] left-[0%] h-[3px] w-[25%] bg-blue-900"></span>
                    <span class="absolute top-[40%] left-[40%] h-[3px] w-[25%] bg-blue-900"></span>
                    <span class="absolute top-[20%] left-[80%] h-[3px] w-[25%] bg-blue-900"></span>

                    <span class="absolute top-[30%] left-[63%] h-[3px] w-[20%] rotate-[-45deg] bg-blue-900"></span>
                    <span class="absolute top-[50%] left-[23%] h-[3px] w-[20%] rotate-[-45deg] bg-blue-900"></span>
                    <span class="absolute top-[60%] left-[25%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 bg-blue-900"></span>
                    <span class="absolute top-[40%] left-[41%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 bg-blue-900"></span>
                    <span class="absolute top-[40%] left-[66%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 bg-blue-900"></span>
                    <span class="absolute top-[20%] left-[81%] h-[18px] w-[18px] translate-[-50%] rounded-full border-4 bg-blue-900"></span>
                </div>
                <div class="p-10 max-[950px]:p-15 max-[700px]:p-5">
                    <h1 class="mt-2 text-xl font-medium text-white lg:text-2xl">2. Big O Notation Analysis</h1>
                    <p class="mt-4 text-base font-light text-slate-600 dark:text-neutral-400">
                        Understanding how much memory an <strong class="title">algorithm</strong> uses and how fast it runs is crucial for providing an efficient solution, this involves analyzing the algorithm's space-time complexity.
                    </p>
                </div>
            </div>
            <div class="flex-1 pt-10 pb-20 max-[950px]:px-0 max-[950px]:pb-0 max-[050px]:border">
                <div class="relative m-auto flex aspect-video items-center justify-center max-[900px]:w-[70%] max-[500px]:w-[80%]">
                    <div class="h-[60%] w-[48%] translate-x-[20%] translate-y-[-30%] rounded-xl border border-neutral-700 bg-black">
                        <div class="flex w-full items-center border-b border-neutral-800 py-[3%]">
                            <div class="ml-4 h-[10px] w-[10px] rounded-full bg-red-700"></div>
                            <div class="ml-2 h-[10px] w-[10px] rounded-full bg-yellow-600"></div>
                            <div class="ml-2 h-[10px] w-[10px] rounded-full bg-green-700"></div>
                        </div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[25%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[55%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[35%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[65%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[45%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[65%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[75%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[85%] rounded-3xl bg-neutral-600"></div>
                    </div>
                    <div class="absolute h-[60%] w-[48%] translate-x-[-20%] translate-y-[30%] rounded-xl border border-neutral-700 bg-black">
                        <div class="flex w-full items-center border-b border-neutral-800 p-[3%]">
                            <div class="ml-4 h-[10px] w-[10px] rounded-full bg-red-700"></div>
                            <div class="ml-2 h-[10px] w-[10px] rounded-full bg-yellow-600"></div>
                            <div class="ml-2 h-[10px] w-[10px] rounded-full bg-green-700"></div>
                        </div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[65%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[45%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[25%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[35%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[45%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[40%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[65%] rounded-3xl bg-neutral-600"></div>
                        <div class="m-[3%] ml-[7%] h-[5%] w-[55%] rounded-3xl bg-neutral-600"></div>
                    </div>
                </div>

                <div class="border-neutral-800 p-10 max-[950px]:p-15 max-[900px]:border-b max-[700px]:p-5">
                    <h1 class="mt-2 text-xl font-medium text-white lg:text-2xl">3. Code Implementation</h1>
                    <p class="mt-4 text-base font-light text-slate-600 dark:text-neutral-400">
                        Walkthrough of the code implementation of the <strong class="title">algorithm</strong> . We provide Solutions with the best time and space complexity analysis to ensure optimal performance and efficiency.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <img src={glow.src} class="absolute opacity-10 top-[60%] scale-150 pointer-events-none" />
</section>

<style>
    .a {
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    }
    li {
    }
</style>
