<div
   aria-hidden="true"
   class="center pointer-events-none m-auto my-10 h-px w-[600px] max-w-full"
   style="background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(143, 143, 143, 0.67) 50%, rgba(0, 0, 0, 0) 100%);"
>
</div>

<section class="relative my-20 mb-16 flex justify-center px-3" id="faq">
   <div class="flex w-full max-w-[1200px] gap-30 border-neutral-800 px-3 max-[1000px]:flex-col max-[1000px]:gap-5">
      <div class="mt-16 w-[50%] text-center">
         <h1 class="mx-auto mt-4 max-w-xl pl-15 text-left text-5xl text-neutral-100 max-[1000px]:pl-0">
            Frequently<br />asked<br />questions
         </h1>
      </div>
      <div class="mx-auto mt-8 grid w-full divide-y divide-neutral-800 text-neutral-500 dark:divide-neutral-800">
         <div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl"> What this platform offers?</span>
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                 Platforcode offers a code environment that helps you improve your coding skills. It provides a vast collection of coding problems and a guided path to solve them efficiently.
               </p>
            </details>
         </div>
         <div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl"> Who is this platform for?</span>
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-light text-neutral-500">
                  Platforcode is the ideal platform for anyone looking to master data structures and algorithms. Unlike other algorithm products like books, this approach focuses on practice over theory, allowing you to visualize algorithms with professional animations as you actively code solutions with highly approachable experience for beginners, ensuring a smooth and effective learning journey.
               </p>
            </details>
         </div>
         
         <div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl">
                     Are there any prerequisites to using this platform?</span
                  >
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                  You should already have a foundational understanding of programming concepts (such as conditional
                  statements, loops, and basic string manipulation) and feel confident writing simple code snippets.
                  This platform is designed to help you advance your skills, not to teach you the basics of coding.
               </p>
            </details>
         </div><div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl"
                     >I'm new to data structures and algorithms. Is this platform right for me?</span
                  >
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                 Platforcode is designed to build your skills from the ground up. Concepts are first introduced with a gentle approach, then intensely reinforced through repetition to ensure mastery before moving on. To guarantee long-term retention, core topics are revisited periodically throughout the curriculum.
               </p>
            </details>
         </div><div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl"> Can I try this platform for free?</span>
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                  Yes, we currently offer a free beta version for all users.
               </p>
            </details>
         </div><div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl">What programming languages does support??</span>
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                  We currently support 3 of the most popular programming languages: JavaScript, Python, and Java.
               </p>
            </details>
         </div>
         <div class="py-5">
            <details class="group">
               <summary class="flex cursor-pointer list-none items-center justify-between text-xl">
                  <span class="text-xl text-neutral-300 max-[600px]:text-xl">What topics are covered?</span>
                  <span class="transition group-open:rotate-180">
                     <svg
                        fill="none"
                        height="24"
                        shape-rendering="geometricPrecision"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="24"
                        ><path d="M6 9l6 6 6-6"></path>
                     </svg>
                  </span>
               </summary>
               <p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-500 dark:text-neutral-500">
                 The curriculum covers all essential data structures and algorithms, including arrays, strings, linked lists, trees, graphs, binary search trees, stacks, queues, hash tables, recursion, and dynamic programming. We've integrated common techniques and their variants to help you repeatedly drill each concept until you achieve mastery.
               </p>
            </details>
         </div>
      
      </div>
   </div>

</section>
