<section class=" mb-16 px-4 flex justify-center relative" id="faq">
	<div class="flex px-4 max-[1000px]:flex-col border-neutral-800 border-x w-full max-w-[1200px] gap-30 max-[1000px]:gap-5">
		<div class="mt-16 text-center w-[50%]">
			<h1 class="mx-auto mt-4 max-w-xl text-white text-5xl text-left pl-15 max-[1000px]:pl-0">Frequently<br>asked<br>questions</d>
		</div>
		<div class="mx-auto mt-8 grid w-full divide-y divide-neutral-200 dark:divide-neutral-800 text-neutral-500">
			<div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between text-2xl">
						<span class="text-white text-2xl max-[600px]:text-xl"> Who is this plaform for?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p
						class="group-open:animate-fadeIn mt-3 font-light text-neutral-600 dark:text-neutral-400"
					>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl"> What this platform offers?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl"> Are there any prerequisites to using this platform?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						You should already have a foundational understanding of programming concepts (such as
						conditional statements, loops, and basic string manipulation) and feel confident writing
						simple code snippets. This platform is designed to help you advance your skills, not to
						teach you the basics of coding.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl">I'm new to data structures and algorithms. Is this platform right for me?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl"> Can I try this platform for free?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Yes, this platform is 100% free.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl">What programming languages does support??</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl"> How do I contact support?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div><div class="py-5">
				<details class="group">
					<summary class="flex cursor-pointer list-none items-center justify-between font-medium">
						<span class="text-white text-2xl max-[600px]:text-xl"> Do you offer any discounts or promotions?</span>
						<span class="transition group-open:rotate-180">
							<svg
								fill="none"
								height="24"
								shape-rendering="geometricPrecision"
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="1.5"
								viewBox="0 0 24 24"
								width="24"
								><path d="M6 9l6 6 6-6"></path>
							</svg>
						</span>
					</summary>
					<p class="group-open:animate-fadeIn mt-3 font-extralight text-neutral-600 dark:text-neutral-400">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
						been the industry's standard dummy text ever since the 1500s, when an unknown printer took
						a galley of type and scrambled it to make a type specimen book. It has survived not only
						five centuries, but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
				</details>
			</div>
		</div>
	</div>

</section>
