---
import { Image } from "astro:assets";
import astroIcon from "../assets/astroIcon.svg";
---

<footer class="m-0 bg-slate-100 shadow dark:bg-neutral-900 mt-20">
    <div class="mx-auto w-full max-w-screen-xl p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a
                href="/"
                class="mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse"
            >
                <img
                    src="https://flowbite.com/docs/images/logo.svg"
                    class="h-8"
                    alt="Flowbite Logo"
                />
                <span
                    class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
                    >Ochallenge</span
                >
            </a>
            <ul
                class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:mb-0"
            >
                <li>
                    <a href="#about-us" class="me-4 hover:underline md:me-6"
                        >About</a
                    >
                </li>
                <li>
                    <a href="#learn-us" class="me-4 hover:underline md:me-6"
                        >Learning</a
                    >
                </li>
                <li>
                    <a href="#faq" class="me-4 hover:underline md:me-6">Faq</a>
                </li>
                <li>
                    <a href="#faq" class="me-4 hover:underline md:me-6">
                        Privacy Policy</a
                    >
                </li>
                <li>
                    <a href="#faq" class="me-4 hover:underline md:me-6">
                        Privacy Policy</a
                    >
                </li>
                <li>
                    <a href="/contact" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr
            class="my-6 border-gray-200 dark:border-gray-700 sm:mx-auto lg:my-8"
        />
        <div class="flex items-center justify-center text-center text-white">
            <p class="mr-2 text-sm">
                © 2025 platform. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
