---
import icon from '../assets/favicon.webp';
---

<footer class="relative bg-white pb-5 dark:bg-black">
   <div class="h-[1px] w-[100%] bg-gradient-to-r from-sky-300/0 via-purple-200/20 to-sky-300/0"></div>
   <div class="mx-auto w-full max-w-[1200px]">
      <div class="grid grid-cols-2 gap-8 px-3 py-6 md:grid-cols-4 lg:py-8">
         <div>
            <h2 class="mb-6 text-sm font-semibold text-neutral-500 uppercase dark:text-white">Product</h2>
            <ul class="font-light text-neutral-500">
               <li class="mb-4">
                  <a href="/#about" class="hover:underline">About</a>
               </li>
               <li class="mb-4">
                  <a href="/#languages" class="hover:underline">Languages</a>
               </li>
               <li class="mb-4">
                  <a href="/#content" class="hover:underline">Content</a>
               </li>
               <!-- <li class="mb-4">
                        <a href="/#testimonials" class="hover:underline">Testimonials</a>
                    </li> -->
               <li class="mb-4">
                  <a href="/#faq" class="hover:underline">FAQ</a>
               </li>
               <!-- <li class="mb-4">
                        <a href="/pricing" class="hover:underline">Pricing</a>
                    </li> -->
            </ul>
         </div>

         <div>
            <h2 class="mb-6 text-sm font-semibold text-neutral-500 uppercase dark:text-white">Legal</h2>
            <ul class="font-light text-neutral-500">
               <li class="mb-4">
                  <a href="/privacy" class="hover:underline">Privacy Policy</a>
               </li>
               <li class="mb-4">
                  <a href="#" class="hover:underline">Licensing</a>
               </li>
               <li class="mb-4">
                  <a href="/terms" class="hover:underline">Terms &amp; Conditions</a>
               </li>
            </ul>
         </div>
         <div>
            <h2 class="mb-6 text-sm font-semibold text-neutral-500 uppercase dark:text-white">Download</h2>
            <ul class="font-light text-gray-500 text-neutral-500">
               <li class="mb-4">
                  <a href="#" class="hover:underline">Windows</a>
               </li>
               <li class="mb-4">
                  <a href="#" class="hover:underline">MacOS</a>
               </li>
               <li class="mb-4">
                  <a href="#" class="hover:underline">Linux</a>
               </li>
            </ul>
         </div>
         <div>
            <h2 class="mb-6 text-sm font-semibold text-neutral-500 uppercase dark:text-white">Help center</h2>
            <ul class="font-light text-gray-500 text-neutral-500">
               <li class="mb-4">
                  <p class="">Questions or feedback?<br />We'd love to hear from you</p>
               </li>
               <li class="mb-4">
                  <a href="#" class="text-white hover:underline">mail@mail.com</a>
               </li>
               <li class="mb-4">
                  <a href="#" class="hover:underline">Report a bug</a>
               </li>
            </ul>
         </div>
      </div>
      <div class="bg-gray-100 px-3 py-6 md:flex md:items-center md:justify-between dark:bg-black">
         <span class="text-sm text-gray-500 sm:text-center dark:text-neutral-500"
            >© <span id="year"></span> <a href="https://flowbite.com/">PlatforCode</a>. All Rights Reserved.
         </span>
         <div class="mt-4 flex space-x-5 sm:justify-center md:mt-0 rtl:space-x-reverse">
            <a href="#" class="text-neutral-500 hover:text-neutral-500 dark:hover:text-white">
               <img src={icon.src} class="top-12 right-2 w-[40px]" />
               <span class="sr-only">Dribbble account</span>
            </a>
         </div>
      </div>
   </div>
</footer>

<style>
   h1,
   h2,
   h3 {
      color: #333;
   }
   h1 {
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;
   }
   h2 {
      margin-top: 25px;
      color: white;
   }
   h3 {
      margin-top: 20px;
   }
   p {
      margin-bottom: 15px;
   }
   ul,
   ol {
      margin-bottom: 15px;
   }
   li {
      margin-bottom: 5px;
   }
   strong {
      font-weight: bold;
   }
   a:hover {
      text-decoration: underline;
   }
   .last-updated {
      font-size: 0.9em;
      color: #777;
      margin-top: 30px;
   }
</style>

<script>
   const yearTag = document.getElementById('year');
   if (yearTag) {
      const currentYear = new Date().getFullYear();
      yearTag.textContent = currentYear;
   }
</script>
