---
import Image from "astro/components/Image.astro";
import platformImage from "../assets/platform.png";
---

<!-- <svg
    class="animate-beam pointer-events-none absolute left-0 top-0 z-[-1] h-[169%] w-[138%] lg:w-[84%]"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 3787 2842"
    fill="none"
    ><g filter="url(#filter0_f_1065_8)"
        ><ellipse
            cx="1924.71"
            cy="273.501"
            rx="1924.71"
            ry="273.501"
            transform="matrix(-0.822377 -0.568943 -0.568943 0.822377 3631.88 2291.09)"
            fill="white"
            fill-opacity="0.21"></ellipse></g
    ><defs
        ><filter
            id="filter0_f_1065_8"
            x="0.860352"
            y="0.838989"
            width="3785.16"
            height="2840.26"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
            ><feFlood flood-opacity="0" result="BackgroundImageFix"
            ></feFlood><feBlend
                mode="normal"
                in="SourceGraphic"
                in2="BackgroundImageFix"
                result="shape"></feBlend><feGaussianBlur
                stdDeviation="151"
                result="effect1_foregroundBlur_1065_8"></feGaussianBlur></filter
        ></defs
    ></svg
> -->
    
<div
    class="border text-center items-center h-screen flex flex-col justify-center gap-6 animate-fade-in"
>
    <h1 class="text-white text-8xl mt-[-8%]">
        Embrace the challenge
    </h1>
    <p
        class="text-neutral-400 text-3xl font-extralight"
    >
        Start mastering{" "}
        <strong class="title">data structures</strong> and <strong class="title"
            >algorithms</strong
        > today!
    </p>
    <div class="flex gap-6 justify-center mt-6">
        <div class="backgroundStyle rounded-full">
            <button
                class="px-5 py-3 rounded-full font-bold cursor-pointer bg-black hover:bg-neutral-900 text-white"
                >Get started for free</button
            >
        </div>

        <button
            class="bg-white px-5 py-3 rounded-full font-bold cursor-pointer hover:bg-neutral-100"
            >Download for Mac</button
        >
    </div>
</div>
<div
    class="flex justify-center mt-[-15%] backgroundStyle rounded-xl max-w-[1200px] overflow-hidden m-auto animate-fade-in-delayed1"
>
    <Image class=" rounded-xl" src={platformImage} alt="landing image" width="2878" height="1800" />
</div>
