---
import menu from '../assets/menu.svg';
import Image from 'astro/components/Image.astro';
import close from '../assets/close.svg';
import downloadIcon from '../assets/download.svg';
import logo from '../assets/logo.webp';
---


<nav class="bg-black animate-fade-in-3 fixed z-20 w-full" id="headerMenu">
  <div class="max-w-[1200px] max-[1200px]:px-4 flex flex-wrap items-center justify-between mx-auto py-4">
      <a href="/" class=" p-2 mr-10"><Image src={logo} alt="logo" class="w-[140px]" /></a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-neutral-400 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden bg-black w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-neutral-400 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0   dark:border-gray-700">
        <li>
           <a href="/about" class="block py-2 px-3 text-white rounded-sm hover:bg-neutral-400 md:hover:bg-transparent md:border-0 md:hover:text-neutral-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
       
        <li>
          <a href="/license" class=" block py-2 px-3 text-white rounded-sm hover:bg-neutral-400 md:hover:bg-transparent md:border-0 md:hover:text-neutral-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">License</a>
        </li>
        <li>
            <a
        href="/download"
            class="flex  cursor-pointer items-center rounded-md bg-white px-3 py-1 text-sm font-normal hover:bg-neutral-300"
         >
            <Image
               class="mr-2 text-black"
               src={downloadIcon}
               alt="landing image"
               width="22"
               height="22"
            />Download</a
         >
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
   const menu = document.getElementById('headerMenu');
   const menuToggle = document.querySelector('[data-collapse-toggle="navbar-default"]');
   const navbar = document.getElementById('navbar-default');

   setMenuStyle();

   window.addEventListener('scroll', () => {
      setMenuStyle();
   });

   function setMenuStyle() {
      if (window.scrollY > 80) {
         menu.style.backgroundColor = 'black';
         menu.style.borderBottom = '1px solid oklch(0.269 0 0)';
      } else {
         menu.style.backgroundColor = 'transparent';
         menu.style.borderBottom = 'none';
      }
   }

   // Toggle navbar on mobile
   menuToggle.addEventListener('click', () => {
      navbar.classList.toggle('hidden');
   });

   // Oculta el menú por defecto en móvil
   if (window.innerWidth < 768) {
      navbar.classList.add('hidden');
   }
</script>