---
import Image from "astro/components/Image.astro";
import platformImage from "../assets/platform.avif";
import downloadIcon from "../assets/download.svg";
---

<section class="w-screen overflow-hidden">
    <div
        class="text-center items-center h-screen flex flex-col justify-center gap-6 animate-fade-in"
    >
        <h1
            class="text-white mt-[-8%] max-[550px]:mt-[-50%] text-[7vw] min-[1200px]:text-8xl max-[700px]:text-5xl text-balance"
        >
        The <span class="title">algorithms</span> platform
            <!-- Embrace the challenge -->
        </h1>
        <p
            class="text-neutral-400 text-3xl font-extralight max-[500px]:font-base max-[500px]:text-2xl text-balance"
        >  Increase your <span class="title">algorithms</span> skills with this desktop platform
        <div
            class="flex max-[600px]:w-[80%] max-[600px]:flex-col gap-6 max-[600px]:gap-3 justify-center mt-6 max-[600px]:mt-0 items-center"
        >
            <div class="backgroundStyle rounded-full w-full">
                <button
                    class="px-8 py-3 rounded-full font-base cursor-pointer bg-black hover:bg-neutral-900 text-white text-nowrap w-full"
                    >Try Web Demo</button
                >
            </div>

            <button
                class="bg-white px-8 py-3 rounded-full font-medium cursor-pointer flex w-full text-center justify-center"
            >
                <Image
                    class="rounded-xl text-black mr-2"
                    src={downloadIcon}
                    alt="landing image"
                    width="22"
                    height="22"
                />Download</button
            >
        </div>
    </div>
    <div
        class="flex justify-center mt-[-250px] border border-neutral-800 rounded-xl max-w-[1100px] overflow-hidden m-auto animate-fade-in max-[550px]:w-[180%] max-[550px]:ml-10 max-[1200px]:w-[95%]"
    >
        <Image
            class="rounded-xl"
            src={platformImage}
            alt="landing image"
            width="2878"
            height="1800"
        />
    </div>
</section>
