---
import Image from "astro/components/Image.astro";
import platformImage from "../assets/platform.png";
---
    
<div
    class="border text-center items-center h-screen flex flex-col justify-center gap-6 animate-fade-in"
>
    <h1 class="text-white text-8xl mt-[-8%]">
        Increase your <span class="title">algorithms</span> skills
        <!-- Embrace the challenge -->
    </h1>
    <p
        class="text-neutral-400 text-3xl font-extralight"
    >
        Start mastering{" "}
        <strong class="title">data structures</strong> and <strong class="title"
            >algorithms</strong
        > today!
    </p>
    <div class="flex gap-6 justify-center mt-6">
        <div class="backgroundStyle rounded-full">
            <button
                class="px-5 py-3 rounded-full font-bold cursor-pointer bg-black hover:bg-neutral-900 text-white"
                >Get started for free</button
            >
        </div>

        <button
            class="bg-white px-5 py-3 rounded-full font-bold cursor-pointer hover:bg-neutral-100"
            >Download for Mac</button
        >
    </div>
</div>
<div
    class="flex justify-center mt-[-15%]  border border-neutral-700 rounded-xl max-w-[1200px] overflow-hidden m-auto animate-fade-in-delayed1"
>
    <Image class=" rounded-xl" src={platformImage} alt="landing image" width="2878" height="1800" />
</div>
