---
import Image from "astro/components/Image.astro";
import platformImage from "../assets/platform.avif";
---
    
<div
    class=" text-center items-center h-screen flex flex-col justify-center gap-6 animate-fade-in"
>
    <h1 class="text-white mt-[-8%] max-[550px]:mt-[-30%] text-[7vw] min-[1200px]:text-8xl max-[700px]:text-5xl text-balance">
        Increase your <span class="title">algorithms</span> skills
        <!-- Embrace the challenge -->
    </h1>
    <p
        class="text-neutral-400 text-3xl font-extralight max-[500px]:text-2xl text-balance"
    >
        Start mastering{" "}
        <strong class="title">data structures</strong> and <strong class="title"
            >algorithms</strong
        > today!
    </p>
    <div class="flex max-[600px]:w-[80%] max-[600px]:flex-col gap-6  max-[600px]:gap-3 justify-center mt-6 max-[600px]:mt-0">
        <div class="backgroundStyle rounded-full">
            <button
                class="px-5 py-3 rounded-full font-bold cursor-pointer bg-black hover:bg-neutral-900 text-white max-[600px]:w-full"
                >Get started for free</button
            >
        </div>

        <button
            class="bg-white px-5 py-3 rounded-full font-bold cursor-pointer hover:bg-neutral-100 "
            >Download for Mac</button
        >
    </div>
</div>
<div
    class="flex justify-center mt-[-250px]  border border-neutral-700 rounded-xl max-w-[1200px] overflow-hidden m-auto animate-fade-in max-[550px]:w-[200%] max-[550px]:ml-10 max-[1200px]:w-[95%]"
>
    <Image class=" rounded-xl" src={platformImage} alt="landing image" width="2878" height="1800" />
</div>
