---
import Image from "astro/components/Image.astro";
import downloadIcon from "../assets/download.svg";
---

<section
    class="aa py-30 text-white m-auto flex mb-20 items-center justify-center border-y border-neutral-800"
>
    <div
        class="max-w-[1200px] px-10 max-[1050px]:w-full max-[1050px]:text-center flex items-center max-[1050px]:flex-col"
    >
        <div class="flex-2 max-[1050px]:mb-10">
            <h1 class="text-3xl max-[1050px]:text-3xl text-balance">
                Ready to start? <span class="text-neutral-400"
                    >Invest in quality preparation and start master the art of <span
                        class="title">algorithms</span
                    > today!</span
                >
            </h1>
        </div>

        <div class="flex-1 flex justify-center items-center gap-3 max-[400px]:flex-col">
            <button
                class="bg-white px-8 py-3 rounded-full font-medium cursor-pointer hover:bg-neutral-200 flex text-black"
            >
                <Image
                    class="rounded-xl text-black mr-2"
                    src={downloadIcon}
                    alt="landing image"
                    width="22"
                    height="22"
                />Download</button
            >
            <button
                class="bg-black px-4 py-3 rounded-full cursor-pointer hover:bg-neutral-100 border border-neutral-800"
                >Try Web Demo</button
            >
        </div>
    </div>
</section>

<style>
    .aa {
        background: linear-gradient(
            180deg,
            #000 30%,
            #111111 50%,
            #111111 100%
        );
        background: #111111;
    }
</style>
