<section
    class="  text-white m-auto p-5 max-[500px]:p-2 flex mb-20 items-center justify-center"
>
<div class="border border-neutral-700 p-15 max-[950px]:p-8 flex max-w-[1200px] gap-30 max-[950px]:gap-20 max-[950px]:flex-col">
    <div class="w-[60%] max-[950px]:w-full max-[950px]:text-center">
        <h1 class="text-3xl max-[950px]:text-2xl text-balance">
            Ready to start? <span class="text-neutral-400"
                >Invest in quality preparation and start
                masterint the art of <span class="title">algorithms.</span
                ></span
            >
        </h1>
        <div class="h-[45px] mt-8 justify-center items-center ">
            <div class="flex-1 flex  gap-8 max-[500px]:gap-4  items-center justify-center">
                <button
                    class="bg-white px-4 py-2 rounded-full  cursor-pointer hover:bg-neutral-100 text-black"
                    >Download for Windows</button
                >
                <button
                    class="bg-black px-4 py-3 rounded-full cursor-pointer hover:bg-neutral-100 border border-neutral-700"
                    >Download for Macos</button
                >
            </div>
        </div>
    </div>
    <div class="flex-1 flex  items-center gap-10 flex-col max-[950px]:text-center">
        <h2 class=" text-xl text-balance">Want to try? <span class="text-neutral-400">Explore platform on your web browser right now</span></h2>
        <button
        class="bg-black px-4 py-3 w-[180px] rounded-full cursor-pointer hover:bg-neutral-100 border border-neutral-700"
        >Try demo for free</button
    >
    </div>
</div>

</section>
