---
import Image from 'astro/components/Image.astro';
import dark from '../assets/darkTheme.avif';
import dark2 from '../assets/dark2.avif';
import downloadIcon from '../assets/download.svg';
import BorderBeans from './BorderBeans.astro';
---

<section class="animate-fade-in relative mt-[150px] flex w-screen max-w-screen flex-col">
   <p
      class="m-auto mb-20 truncate rounded-full bg-black border border-neutral-300/20 bg-neutral-900 px-5 py-2 text-neutral-200 text-xs max-[800px]:text-xs max-[600px]:hidden"
   >
      ✨ The first beta version is here! Download it now.
   </p>
   <h1
      class="mb-8 bg-gradient-to-br from-white bg-clip-text px-2 text-center text-7xl leading-22 font-medium tracking-tighter text-transparent max-[1050px]:text-6xl max-[1050px]:leading-16 max-[900px]:text-5xl max-[690px]:text-4xl max-[690px]:leading-12"
   >
      Boost your <span class="title">algorithms </span>skills with<br class="max-[520px]:hidden" />our powerful Desktop
      platform
   </h1>
   <p class="mb-8 text-center text-2xl font-extralight text-balance text-neutral-400 max-[520px]:text-xl">
      Practice real-world challenges, and become a coding pro.
   </p>

   <div
      class="m-auto mt-6 mb-20 flex flex-col gap-3 max-w-[300px] items-center justify-center  max-[600px]:mt-0 max-[600px]:w-[100%] max-[600px]:gap-3"
   >
      <!-- <div class="backgroundStyle w-full rounded-full">
            <button class="font-base w-full cursor-pointer rounded-full bg-black px-8 py-3 text-nowrap text-white hover:bg-neutral-900">Try Web Demo</button>
        </div> -->
      <button class="z-10 flex w-full cursor-pointer justify-center rounded-md bg-white px-4 py-2 text-center font-sm text-base hover:scale-105 transition-transform duration-200">
         <Image
            class="mr-2 rounded-xl text-black"
            src={downloadIcon}
            alt="landing image"
            width="22"
            height="22"
         />Download for Macos</button
      >
      <a href="/download" class="text-white z-10 p-0 m-0 underline text-xs cursor-pointer">other platforms</a>
   </div>
   <!-- <div class="pointer-events-none absolute inset-0 top-[30%] flex transform-gpu opacity-20 max-[520px]:top-[50%]">
        <Image src={glow} alt="gradient blur " class="pointer-events-none w-full scale-175 max-[520px]:scale-[300%]" />
    </div> -->
    <div class="gradient absolute top-[200px] inset-0  animate-image-glow blur-[8rem] w-[60%] h-[200px] m-auto"></div>
   
   <div
      class="p-2 m-auto relative  aspect-video max-w-[1200px] overflow-hidden rounded-2xl w-[80%]     bg-opacity-50 ring-1 ring-neutral-500/50 ring-inset  "
   >
      <BorderBeans />
      <Image priority class="border border-neutral-800 rounded-xl " src={dark} alt="landing image" />
   </div>





</section>


<style>
   .gradient {
      background: conic-gradient(from 230.29deg at 51.63% 52.16%, #4285f4 11.63% 0deg, #9b72cb 67.5deg, rgb(247, 44, 213) 68.07% 198.75deg, #1826a3 251.25deg, #3667c4 301.88deg, #691eff 1turn);

   }
   </style>
      

