<div class=" flex items-center p-3 w-full fixed bg-black z-10">
    <h1 class=" text-white text-2xl ">Platform</h1>
    <ul class=" text-white flex gap-3 text-lg ml-20 ">
        <li class=" cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg">About</li>
        <li class=" cursor-pointer  px-4 py-2 hover:bg-neutral-900 rounded-lg">Learning</li>
        <li class=" cursor-pointer  px-4 py-2 hover:bg-neutral-900 rounded-lg">Faq</li>
        <li class=" cursor-pointer  px-4 py-2 hover:bg-neutral-900 rounded-lg">Contact</li>
        <li class=" cursor-pointer  px-4 py-2 hover:bg-neutral-900 rounded-lg">Pricing</li>
    </ul>
    <div class="flex gap-6 ml-auto">
        <div class="backgroundStyle rounded-full">
            <button
                class="px-4 py-2 rounded-full font-bold cursor-pointer bg-black hover:bg-neutral-900 text-white"
                >Get started for free</button
            >
        </div>
        <button
            class="bg-white px-4 py-2 rounded-full font-bold cursor-pointer hover:bg-neutral-100"
            >Download for Mac</button
        >
    </div>
</div>