---
import menu from "../assets/menu.svg";
import Image from "astro/components/Image.astro";
import close from "../assets/close.svg";
---

<header class="flex items-center px-6 p-3 w-full fixed z-10 animate-fade-in-3" id="headerMenu">
    <h1 class="text-white text-2xl">Platform</h1>
    <nav class="text-neutral-400 hidden lg:flex gap-3 text-lg ml-20 font-light">
        <a
            href="/"
            class="cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg"
            >About</a
        >
        <a
            href="/"
            class="cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg"
            >Learning</a
        >
        <a
            href="/"
            class="cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg"
            >Faq</a
        >
        <a
            href="/"
            class="cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg"
            >Contact</a
        >
        <a
            href="/"
            class="cursor-pointer px-4 py-2 hover:bg-neutral-900 rounded-lg"
            >Pricing</a
        >
    </nav>
    <nav class="gap-6 ml-auto hidden lg:flex">
        <div class="backgroundStyle rounded-full">
            <button
                class="px-4 py-2 rounded-full font-bold cursor-pointer bg-black hover:bg-neutral-900 text-white"
                >Get started for free</button
            >
        </div>
        <button
            class="bg-white px-4 py-2 rounded-full font-bold cursor-pointer hover:bg-neutral-100"
            >Download for Mac</button
        >
    </nav>
    <nav
        class="ml-auto cursor-pointer border border-neutral-800 rounded-md inline lg:hidden"
        id="toggle-menu-button"
    >
        <Image alt="menu icon" src={menu} width={40} height={40} id="menuImage" />
        <Image alt="close icon" src={close} width={40} height={40} id="closeImage" style={{display:"none"}} />
    </nav>
    <nav
        class="left-0 w-full text-lg top-15 p-5 bg-black absolute text-neutral-400 hidden flex-col lg:hidden"
        id="toggle-menu"
    >
        <div class="flex flex-col border-t border-neutral-800 pt-5">
            <div class="backgroundStyle rounded-xl">
                <button
                    class="px-4 w-full py-3 rounded-xl font-light cursor-pointer bg-black hover:bg-neutral-900 text-white"
                    >Get started for free</button
                >
            </div>
            <button
                class="bg-white px-4 py-3 rounded-xl mt-5 mb-5 cursor-pointer text-black hover:bg-neutral-100"
                >Download for Mac</button
            >
        </div>

        <div class="border-b border-neutral-800 flex flex-col pb-5">
            <a
                href="/"
                class="cursor-pointer px-4 py-3 hover:bg-neutral-900 hover:text-white rounded-lg"
                >About</a
            >
            <a
                href="/"
                class="cursor-pointer px-4 py-3 hover:bg-neutral-900 hover:text-white rounded-lg"
                >Learning</a
            >
            <a
                href="/"
                class="cursor-pointer px-4 py-3 hover:bg-neutral-900 hover:text-white rounded-lg"
                >Faq</a
            >
            <a
                href="/"
                class="cursor-pointer px-4 py-3 hover:bg-neutral-900 hover:text-white rounded-lg"
                >Contact</a
            >
            <a
                href="/"
                class="cursor-pointer px-4 py-3 hover:bg-neutral-900 hover:text-white rounded-lg"
                >Pricing</a
            >
        </div>
    </nav>
</header>

<script>
    const menu = document.getElementById("headerMenu")!;
    const menuToggleButton = document.getElementById("toggle-menu-button")!;
    const menuToggle = document.getElementById("toggle-menu")!;

    const closeImage = document.getElementById("closeImage")!;
    const menuImage = document.getElementById("menuImage")!;

    window.addEventListener("scroll", () => {
        if (window.scrollY > 80) {
            menu.style.backgroundColor = "black";
            menu.style.borderBottom = "1px solid oklch(0.269 0 0)";
        } else {
            menu.style.backgroundColor = "transparent";
            menu.style.borderBottom = "none";
        }
    });

    menuToggleButton.addEventListener("click", () => {
        const isMenuDisplayed = menuToggle.classList.contains("flex");
        if (!isMenuDisplayed) {
            menuToggle.classList.add("flex");
            menuToggle.classList.remove("hidden");
        } else {
            menuToggle.classList.add("hidden");
            menuToggle.classList.remove("flex");
        }

        if (closeImage.style.display === "none") {
            closeImage.style.display = "block";
            menuImage.style.display = "none";
        } else {
            closeImage.style.display = "none";
            menuImage.style.display = "block";
        }
    });


</script>
