<section class="relative flex justify-center items-center pt-30 pb-40 flex-col animate-fade-in px-4">
    <h1 class="text-white text-6xl mb-10">Pricing</h1>
    <div class=" border border-neutral-800 w-full max-w-[500px] rounded-xl bg-black p-10 text-white">
        <h2 class="text-white text-3xl text-center mb-10">Buy XXX License</h2>
        <h2 class="text-4xl text-center">€ 10</h2>
        <ul class="text-neutral-400 text-xl">
            <li class="py-2">✅ Available for macOS, Windows and Linux</li>
            <li class="py-2">✅ License for 2 devices</li>
            <li class="py-2">✅ Pay once, use forever</li>
            <li class="py-2">✅ Free updates for 1 year</li>
            <li class="py-2">✅ 30-day money-back guarantee</li>
        </ul>
        <div class="backgroundStyle rounded-full flex justify-center  mt-10">
            <button
                class="px-8 py-3 rounded-full font-base cursor-pointer bg-black hover:bg-neutral-900 text-white w-full"
                >Buy XXX - € 10</button
            >
        </div>
    </div>
</section>