<section class="animate-fade-in relative flex flex-col items-center justify-center px-3 pt-30 pb-40">
    <h1 class="mb-10 text-6xl text-white">Pricing</h1>
    <div class="w-full max-w-[500px] rounded-xl border border-neutral-800 bg-black p-10 text-white">
        <h2 class="mb-10 text-center text-3xl text-white">Buy XXX License</h2>
        <h2 class="text-center text-4xl">€ 10</h2>
        <ul class="text-xl text-neutral-400">
            <li class="py-2">✅ Available for macOS, Windows and Linux</li>
            <li class="py-2">✅ License for 2 devices</li>
            <li class="py-2">✅ Pay once, use forever</li>
            <li class="py-2">✅ Free updates for 1 year</li>
            <li class="py-2">✅ 30-day money-back guarantee</li>
        </ul>
        <div class="backgroundStyle mt-10 flex justify-center rounded-full">
            <button class="font-base w-full cursor-pointer rounded-full bg-black px-8 py-3 text-white hover:bg-neutral-900">Buy XXX - € 10</button>
        </div>
    </div>
</section>
